body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    padding: 0px 250px;
}

.heading-top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-below {
    display: flex;
    margin: 80px 0px;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    flex: 1;
}

.naxos-harbour {
    min-width: 400px;
    flex: 1;
}

.btn1 {
    background-color: #3882f6;
    align-self: flex-start;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 8px;
    border: 1px #3882f6;
    padding: 10px 30px;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 30px 250px;
}

.cards {
    padding: 30px 0px;
    display: flex;
    gap: 26px;
    justify-content: space-between;
} 

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    flex: 1 0 auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
}

.pic {
    margin-bottom: 10px;
    display: flex;
    max-width:100%;
    align-items: center;
    flex: 1 0 auto;
    border-radius: 10px;
}



.quote {
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb;
    color: #1F2937; 
    padding: 70px 350px 0px;
    align-items: center;
}

em {
    font-size: 36px;
    font-weight: 300;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    padding-bottom: 44px;
    font-size: 22px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 16px;
    padding: 22px;
}

.action {
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 60px 250px;
    padding: 40px 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.btn2 {
    border-color: #F9FAF8;
    border-radius: 8px;
    border-style: solid;
    background-color: #3882f6;
    padding: 10px 30px;
    font-size: 16px;
    color: #F9FAF8;
}

.act {
    font-size: 22px;
    font-weight: bold;
}



